<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8">
        {% if title %}
            <title>Microblog - {{ title }}</title>
        {% else %}
            <title>Bienvenue au Microblog</title>
        {% endif %}
        <!-- Avec flask pour utiliser href il faut utiliser la fonction url_for -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div>
            Microblog :
            <a href="/index">Accueil</a>
            <a href="/employees">Tableau employee</a>
            <a href="/login">Connexion / login</a>
            <hr>
            <!--
                Grâce à la fonction get_flashed_messages on récupère dans une
                variable les message qu'on génère dans la donction login().
                Une fois le message affiché, il sera supprimé.
            -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <!-- Instanciation du block content qui pourra être réutilisé dans d'autres fichiers -->
            {% block content %}{% endblock%}
        </div>
    </body>
</html>
